<div class="top">
    <div style="display: flex; flex-direction: row; align-items: center;">
        <img id="back" src="/assets/back.png" alt="back" routerLink="/user-management">
        <h2>Retour</h2>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center;">
        <h2 style="color:black">{{user.firstName}} {{user.lastName}}</h2>
        <div *ngIf="user.photo!==''">
            <img src="{{user.photo}}" alt="user-img" id="user-img">
        </div>
        <div *ngIf="user.photo===''">
            <img src="/assets/users/user.png" alt="user-img" id="user-img">
        </div>
    </div>
</div>
<hr>
<div style="display: flex; flex-direction: rox; justify-content: space-between; margin-top: 100px;">
    <div></div>
    <div routerLink="/user-edit/{{user.id}}">
        <img src="/assets/parameters.png" alt="parameters">
        <h1>Gérer l'utilisateur</h1>
    </div>
    <div routerLink="/user-stats/{{user.firstName}}-{{user.lastName}}">
        <img src="/assets/stats.png" alt="parameters">
        <h1>Voir les statistiques</h1>
    </div>
    <div></div>
</div>