<button class="back-button" routerLink="/theme-editor">Retour</button><br>
<div class="card">
  <h2>Créer nouveau thème</h2>
  <form class="quiz-form" [formGroup]="themeForm">
    <label for="title">
      Title :
      <input class="input-text" type="text" id="title" [formControlName]="'title'">
    </label>
    <label for="description">
      Description :
      <input class="input-text" type="text" id="description" [formControlName]="'description'">
    </label>
    <button *ngIf = "this.isThemeFormValid()" type="submit" class="button-card" (click)="addTheme()" routerLink="/theme-editor">Créer</button>
  </form>
</div>