@import "../../../styles.scss";

#quiz-img {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    object-fit: cover;
}
  
h4 {
    margin: 0;
}
  
span {
    margin: 0;
}

#next-question-button {
    display: none;
    width:400px;
    height: 100px;
    border-radius:25px;
    font-size: 32px;
}

app-question-choice {
    width : 100%;
    height : 80%;
    align-self: center;
}

#hint {
    max-height: 100px;
    max-width: 100px;
}

#sound-img {
    max-width: 100px;
    max-height: 100px;
}

#user-img {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    border-radius: 50%;
    object-fit: cover;
}