<div style="display: flex; flex-direction: column;">
    <div style="display: flex; align-items: center; margin-top:20px; justify-content: space-between;">
        <div style="display:flex; flex-direction: row;">
            <img id="quiz-img" src="/assets/quiz-img/quiz-{{quiz.id}}.jpg" alt="quiz-img">
            <div style="display: flex; flex-direction: column; margin-left: 16px; align-self: flex-start; margin-top: 20px;">
                <h4>{{quiz.name}}</h4>
                <span>Question {{numQuestion}}/{{quiz.questions.length}}</span>
            </div>
        </div>
        <div *ngIf="assistance % 10 >= 1" style="align-self: center;">
            <img id="hint" src="/assets/hint.png" alt="hint" (click)="useHint()">
            <h2 id="hint-text">Indice</h2>
        </div>
        <div *ngIf="assistance % 100 >= 10">
            <img id="sound-img" src="/assets/sound.png" alt="sound" (click)="useSound()">
            <h2 id="sound-text">Ecouter la question</h2>
        </div>
        <h3>Utilisateur</h3> <!--à compléter avec user-->
    </div>
    <app-question-choice (answer)="check($event)" [quiz]="quiz" [numQuestion]="numQuestion"></app-question-choice>
</div>
  