<div id="title">
    <h1>FLOPPA WEB</h1>
    <h2>Poly Quiz</h2>
</div>
<p style="display: flex; font-size: 48px; justify-content: center;">Cliquez sur le bouton qui vous correspond</p>
<div id="button-container">
    <div id="user-side">
        <button class="btn" routerLink="/home-profil-choice">Je suis une personne âgée</button>
        <p id="countdown" style="color:rgb(202, 202, 69); font-size: 28px; max-width: 567px;">Le site changera vers cette page automatiquement dans 120 secondes...</p>
    </div>
    <div id="caregiver-side">
        <button class="btn" (click)="check()">Je suis du personnel</button>
    </div>
</div>
