@import "../../../styles.scss";

#user-img {
    max-width: 165px;
    max-height: 165px;
}

#back {
    max-width: 100px;
    max-height: 100px;
}

.theme-img {
    border-radius: 44px;
    height:285px;
    width: 285px;
}

.theme {
    margin: 40px;
}

.top {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    border: none;
    height: 3px;
    background-color: black;
    width: 100%;
}

.add-theme {
    width: 130px;
}