#user-img {
    max-width: 165px;
    max-height: 165px;
}

#back {
    margin-top: 10px;
    max-width: 121px;
    max-height: 121px;
}

.theme-img {
    border-radius: 44px;
}

.theme {
    margin: 150px;
    margin-bottom: 100px;
}