@import "../../../styles.scss";

#user-img {
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

#back {
    margin-top: 10px;
    max-width: 100px;
    max-height: 100px;
}

.theme-img {
    border-radius: 44px;
    height:285px;
    width: 285px;
}

.theme {
    margin: 30px;
}