<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 10px;">
    <div>
        <label style="font-weight: bold; font-size: 40px;">{{associationToPlay.label}}</label>
        <Button style= "position:absolute; width:100px; height:50px; margin: 10px;" (click)="check()">Check</Button>
    </div>
    <div class = "association-game">
        <div class= "connectors-left">
            <div *ngFor = "let value of shuffledValuesToConnect; let i=index" >
                <Button attr.id = "left-button{{i}}" style="width: 500px; height:100px" class = "button" *ngIf = "value != null" (click)="selectLeft(value, i)">
                    {{value}}
                </Button>
            </div>
        </div>
        <div class = "connectors-right">
            <div *ngFor = "let value of shuffledValuesToBeConnected; let i=index">
                <Button attr.id = "right-button{{i}}" style="width: 500px; height:100px" class = "button" *ngIf = "value != null" (click)="selectRight(value, i)">
                    {{value}}
                </Button>
            </div>
        </div>
    </div>
</div>
<svg #linescontainer style="position: absolute; width:100%; height:100%; top: 0;
left: 0; pointer-events: none;">
</svg>