@import "../../../styles/variables.scss";
@import "../../../styles.scss";

.association-game{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 60%;
    max-width: 50%;
    top:35%;
    position: absolute;

}

.connectors-left{
    width: 30%;
}

.connectors-right{
    width: 30%;
}

svg {
    position: absolute;
  }

.validate-button {
    background-color: #FFF;
    border: solid 1px #000;
    border-radius: 20px;
    color: #000;
    color: #000;
    font-weight: bold;
    padding: 0.5em 1em;
}

#home {
    max-height: 100px;
    max-width: 100px;
    margin-right: 10px;
}

#home:hover {
    cursor: pointer;
    opacity: 0.5;
}

#next:hover {
    cursor: pointer;
    opacity: 0.5;
}

#next {
    max-height: 100px;
    max-width: 100px;
    margin-left: 10px;
}

