.association-game{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.connectors-left{
    width: 50%;
    padding: 20px;
    margin-right: 100px;
}

.connectors-right{
    width: 50%;
    padding: 20px;
    margin-left: 100px;
}