<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 10px;">
    <div>
        <label style="font-weight: bold; font-size: 40px;">{{associationToPlay.label}}</label>
        <Button style= "position:absolute; width:100px; height:50px; margin: 10px;" (click)="check()">Check</Button>
    </div>
    <div class = "association-game">
        <div class= "connectors-left">
            <div *ngFor = "let value of shuffledValuesToConnect; let i=index" >
                <Button style="width: 500px; height:100px" class = "button" *ngIf = "value != null" (click)="selectLeft(value)">
                    {{value}}
                </Button>
            </div>
        </div>
        <div class = "connectors-right">
            <div *ngFor = "let value of shuffledValuesToBeConnected; let i=index" >
                <Button style="width: 500px; height:100px" class = "button" *ngIf = "value != null" (click)="selectRight(value)">
                    {{value}}
                </Button>
            </div>
        </div>
        <div *ngIf="currentConnections.length > 0">
            <div *ngFor="let connection of this.currentConnections; let i = index;">
                <app-connection [id] = "i" [connection]="connection" [shuffledValuesToConnect] = "this.shuffledValuesToConnect" [shuffledValuesToBeConnected] = "this.shuffledValuesToBeConnected"></app-connection>
            </div>
        </div>
    </div>
</div>