
<div class = "association-game">
    <div class= "connectors-left">
        <div *ngFor = "let value of shuffledValuesToConnect; let i=index" >
            <Button style="width: 500px; height:100px" class = "button" *ngIf = "value != null" (click)="selectLeft(value)">
                {{value}}
            </Button>
        </div>
    </div>
    <div class = "connectors-right">
        <div *ngFor = "let value of shuffledValuesToBeConnected; let i=index" >
            <Button style="width: 500px; height:100px" class = "button" *ngIf = "value != null" (click)="selectRight(value)">
                {{value}}
            </Button>
            <Button style="width: 500px; height:100px" (click)="changeLinePosition(i)"></Button>
        </div>
    </div>
    <app-connection></app-connection>
</div>