<div class="top">
<div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
  <img id="back" src="/assets/back.png" alt="back" routerLink="/edit-quiz/{{this.themeId}}/{{this.quizId}}">
  <h2 style="color:gray">Retour</h2>
</div>
  <div style="margin-right: 20px;">
    <img style="width: 100px; height: 100px;" src="/assets/edit.png" alt="edit">
    <h3 style="text-align: center; max-width: 100px;">Éditeur de Quiz</h3>
  </div>
</div>
<div class="card" style="max-width: fit-content;top: 50%;left: 50%;transform: translate(-50%,-50%); position:fixed">
  <h2>Créer nouvelle question</h2>
  <form class="quiz-form" [formGroup]="questionForm">
    <label for="label">
      Question :
      <input class="input-text" type="text" id="label" [formControlName]="'label'" maxlength="30">
    </label>
    <button style= "margin: 10px;" class="button-card" [disabled]="this.questionForm.get('answers').value.length >= 4" (click)="addAnswer()">Ajouter réponse</button>
    <div class="answer" formArrayName="answers">
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form" name="form-{{i+1}}" [formGroupName]="i">
          <label>
            Réponse {{i + 1}} :
            <input class = "input-text" aria-label="rep-{{i+1}}" data-testid="réponse-{{i+1}}" type="text" [formControlName]="'value'" maxlength="20"><br>
          </label>
          <label>
            Bonne réponse :
            <input style="margin: 10px; width: 20px; height: 20px;" data-testid="bonne-réponse-{{i+1}}" class = "input" type="checkbox" [formControlName]="'isCorrect'">
          </label>
          <label>
            Lien d'image :
            <input class = "input-text" name="image" data-testid="image-{{i+1}}" type="text" [formControlName]="'img'">
          </label>
        </div>
      </div>
    </div>
    <button *ngIf = "this.isQuestionFormValid()" type="submit" class="button-card" (click)="addQuestion()" routerLink="/edit-quiz/{{this.themeId}}/{{this.quizId}}">Créer</button>
  </form>
</div>