<button class="back-button" routerLink="/edit-quiz/{{this.quizId}}">Retour</button><br>
<div class="card">
  <h2>Créer nouvelle question</h2>
  <form class="quiz-form" [formGroup]="questionForm">
    <label for="label">
      Question :<br>
      <input class="input-text" type="text" id="label" [formControlName]="'label'">
    </label>
    <button style= "margin: 10px;" class="button-card" (click)="addAnswer()">Ajouter réponse</button>
    <div class="answer" formArrayName="answers">
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form" [formGroupName]="i">
          <label>
            Réponse {{i + 1}} :
            <input class = "input-text" type="text" [formControlName]="'value'">
            <br>
            Bonne réponse
            <input class = "input-text" type="checkbox" [formControlName]="'isCorrect'">
          </label>
        </div>
      </div>
    </div>
    <button *ngIf = "this.isQuestionFormValid()" type="submit" class="button-card" (click)="addQuestion()" routerLink="/edit-quiz/{{this.quizId}}">Créer</button>
  </form>
</div>