<div style="display: flex; flex-direction: row; justify-content: space-between;">
    <img *ngIf="type==='play'" id="back" src="/assets/back.png" alt="back" routerLink="/theme-list/{{user.firstName}}-{{user.lastName}}/play">
    <img *ngIf="type==='stats'" id="back" src="/assets/back.png" alt="back" routerLink="/theme-list/{{user.firstName}}-{{user.lastName}}/stats">
    <div style="display: flex; flex-direction: row; justify-content: flex-end;">
        <h1 style="display: flex; justify-content: flex-end;">{{user.firstName}} {{user.lastName}}</h1>
        <img style="display: flex; justify-content: flex-end;" alt="user-img" src="{{user.photo}}">
    </div>
</div>
<app-quiz-form></app-quiz-form>
<div class="quiz-list">
    <div class="quiz" *ngFor="let quiz of quizList">
        <ng-container *ngIf="quiz.users.length===0 || quiz.users.includes(user.id)">
            <app-quiz [quiz]="quiz" [user]="user" [type]="type" (startQuiz)="startQuiz($event)" (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)"></app-quiz>
        </ng-container>
    </div>
  </div>