<div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px;">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <img *ngIf="type==='play'" id="back" src="/assets/back.png" alt="back" routerLink="/theme-list/{{user.firstName}}-{{user.lastName}}/play">
        <img *ngIf="type==='stats'" id="back" src="/assets/back.png" alt="back" routerLink="/theme-list/{{user.firstName}}-{{user.lastName}}/stats">
        <h2 style="color:gray">Retour</h2>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: flex-end; align-items: center;">
        <h2 style="display: flex; justify-content: flex-end;">{{user.firstName}} {{user.lastName}}</h2>
        <img id="user-img" alt="user-img" src="{{user.photo}}">
    </div>
</div>
<h1 style="display: flex; justify-content: center;">Choisissez un quiz</h1>
<div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; width:100%;">
    <div *ngFor="let quiz of quizList, let i=index">
        <div *ngIf="quiz.users.length===0 || quiz.users.includes(user.id)" class="quiz">
            <ng-container *ngIf="quiz.users.length===0 || quiz.users.includes(user.id)">
                <app-quiz [quiz]="quiz" [user]="user" [type]="type" (startQuiz)="startQuiz($event)" (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)"></app-quiz>
            </ng-container>
        </div>
    </div>
</div>