.quiz-list {
  display: flex;
}

img {
  max-width: 165px;
  max-height: 165px;
}

#back {
  margin-top: 10px;
  max-width: 100px;
  max-height: 100px;
}

#user-img {
  max-width: 150px;
  max-height: 150px;
  display: flex; 
  justify-content: flex-end; 
  margin-left: 16px;
}

.quiz {
  margin: 10px;
}