#back {
    margin-top: 10px;
    max-width: 121px;
    max-height: 121px;
}

hr {
    border: none;
    height: 3px;
    background-color: black;
    width: 100%;
}

#user-img {
    max-width: 300px;
    max-height: 300px;
}

h2 {
    color: gray
}