#back {
    margin-top: 10px;
    max-width: 121px;
    max-height: 121px;
}

hr {
    border: none;
    height: 3px;
    background-color: black;
    width: 100%;
}

#user-img {
    max-width: 300px;
    max-height: 300px;
}

h2 {
    color: gray
}

#quiz-stats {
    margin-top: 10px;
    width:400px;
    height: 100px;
    border-radius:25px;
    font-size: 32px;
    border: 3px solid black;
    background-color: rgb(207, 207, 207);
}

#quiz-stats:hover {
    background-color: grey;
    color: white;
}