<div class="top">
    <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
        <img id="back" src="/assets/back.png" alt="back" routerLink="/theme-editor">
        <h2 style="color:gray">Retour</h2>
    </div>
    <!-- <div class="button-div" (click)="createQuiz()" style="display: flex; flex-direction: column; align-items: center;">
        <img src="/assets/folder.png" alt="add-quiz">
        <h2>Créer Quiz</h2>
    </div> -->
    <app-quiz-form (click)="refresh()"></app-quiz-form>
    <div>
        <img style="width: 100px; height: 100px;" src="/assets/edit.png" alt="edit">
        <h3>PolyQuiz Editor</h3>
    </div>
</div>
<h1 style="display: flex; justify-content: center;">Liste des Quiz</h1>
<hr style="border:none;height:1px;background-color: black; width:70%">
<div class="quiz-list" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; width:100%;">
    <div class="quiz" *ngFor="let quiz of quizList">
        <app-quiz [themeIndex] = "this.themeIndex" [quiz]="quiz" (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)"></app-quiz>
    </div>
</div>