@import '../../../styles.scss';
.quiz-list {
  display: flex;
}

img {
  max-width: 165px;
  max-height: 165px;
}

#back {
  margin-top: 10px;
  max-width: 121px;
  max-height: 121px;
}

.add-quiz {
  width: 130px;
}

.theme {
  margin: 60px;
}

.top {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

hr {
  border: none;
  height: 3px;
  background-color: black;
  width: 100%;
}