#quiz-img {
    max-width: 166px;
    max-height: 166px;
    border-radius: 54px;
}

#next-question-button {
    margin-top: 10px;
    width:400px;
    height: 100px;
    border-radius:25px;
    font-size: 32px;
}