@import '../../../styles/card.scss';
@import '../../../styles.scss';

#back {
    margin-top: 10px;
    max-width: 100px;
    max-height: 100px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top h2 {
    color:gray;
}

#back-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: none;
    height: 3px;
    background-color: black;
    width: 100%;
}

.input-custom {
    border-radius: 15px;
    background-color: rgb(199, 199, 199);
    border:0;
    padding: 5px;
    font-size: 20px;
}

.text-big {
    font-size: 34px;
}
  
.text-small {
    font-size: 28px;
}

.user-form {
    font-size: 28px;
    margin-left: 100px;
}


.form-text {
    font-weight: bold;
}

#user-img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
}

.create-user-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 25px;
    width: 354px;
    height: 75px;
    font-size: 24px;
}

.create-user-button:hover {
    background-color: grey;
    color: white;
}

input[type="number"] {
    width: 50px;
}