@import '../../../styles/card.scss';

#quiz-img {
  max-width: 150px;
  max-height: 150px;
  margin-top: 10px;
  border-radius: 25px;
  display: inline-block;
}

#result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(4, 210, 114);
}

#home {
  max-height: 148px;
  max-width: 190px;
}
  
#home:hover {
  cursor: pointer;
  opacity: 0.5;
}

#goHome {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#user-img {
  max-width: 150px;
  max-height: 150px;
}

.title {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg, 
    #00f690 0%, 
    #81e877 29%, 
    #13a9ff 67%, 
    #39ff85 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  animation: textclip 4s linear infinite;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflowing text */
  padding: 0.2em 0; /* Adjust padding as needed */
}

@keyframes textclip {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}