<div style="display: flex; align-items: center;">
    <img id="quiz-img" src="/assets/quiz-img/quiz-{{quiz.id}}.jpg" alt="quiz-img">
    <div style="display: flex; flex-direction: column; margin-left: 16px; align-self: flex-start; margin-top: 20px;">
        <h4>{{quiz.name}}</h4>
    </div>
</div>

<div id="result" style="align-items: center;">
    <h1>Félicitations</h1>
    <h2>vous avez terminé le quiz !</h2>
    <h2>Vous avez réussi : {{score}}/{{quiz.questions.length}} questions</h2>
</div>

<div id="goHome">
    <div style="display: flex; flex-direction: column; align-items: center;">
      <img id="home" src="/assets/home.png" alt="home" (click)="goHome()">
      <h4 style="margin-top: 10px;">Accueil</h4>
    </div>
  </div>
  