@import '../../../styles/card.scss';

#quiz-img {
  max-width: 150px;
  max-height: 150px;
  margin-top: 10px;
  border-radius: 25px;
  display: inline-block;
}

#result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(7, 211, 7);
}

#home {
  max-height: 148px;
  max-width: 190px;
}
  
#goHome {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#user-img {
  max-width: 150px;
  max-height: 150px;
}