@import "../../../styles.scss";

.edit {
    margin-left: 0.3em;
}

#start-quiz-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 25px;
    width: 354px;
    height: 75px;
    font-size: 24px;
}

#start-quiz-button:hover {
    background-color: grey;
    color: white;
}

#quiz-name {
    //center the text
    text-align: center;
}

#quiz-img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 50px;
    object-fit: cover;
}

#nb-of-question {
    display:block;
    text-align: center;
}

#back {
    margin-top: 10px;
    max-width: 100px;
    max-height: 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.top > div:first-of-type {
    display: flex;
    align-items: center;
}

.top h2 {
    margin: 0;
    color: grey;
    text-align: center;
}

.top img {
    height: 100px;
    margin-right: 10px;
}

.top > div:last-of-type {
    display: flex;
    align-items: center;
}

.top > div:last-of-type img {
    height: 150px;
    margin-right: 10px;
    margin-left: 16px;
}

.top > div:last-of-type h2 {
    margin: 0;
    color: black;
}

.user-img {
    max-width: 175px;
    max-height: 175px;
    min-width: 175px;
    min-height: 175px;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}