@import '../../../styles/card.scss';

* {
    margin-left: 0.3em;
}

img {
    width: 285px;
    height: 285px;
    justify-content: center;
}

.quiz {
    margin-right: 150px;
    margin-left: 150px;
    margin: 130px;
    margin-bottom: 100px;
}