@import '../../../styles/card.scss';
@import '../../../styles.scss';

* {
    margin-left: 0.3em;
}

img {
    width: 285px;
    height: 285px;
    justify-content: center;
}

.quiz {
    margin-right: 150px;
    margin-left: 150px;
    margin: 50px;
    margin-bottom: 20px;
}

.edit-img {
    max-width: 75px; 
    max-height: 70px;
}

.trash-img{
    max-width: 72px; 
    max-height: 85px; 
    margin-top: 130px;
}