<div class="top">
  <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
    <img id="back" src="/assets/back.png" alt="back" routerLink="/edit-quiz/{{this.themeId}}/{{this.quizId}}">
    <h2 style="color:gray">Retour</h2>
  </div>
  <div style="margin-right: 20px;">
    <img style="width: 100px; height: 100px;" src="/assets/edit.png" alt="edit">
    <h3 style="text-align: center; max-width: 100px;">Éditeur de Quiz</h3>
  </div>
  </div>
<div class="card" style="max-width: fit-content;top: 50%;left: 50%;transform: translate(-50%,-50%); position:fixed">
  <h2>Créer nouvelle association</h2>
  <form class="quiz-form" [formGroup]="associationForm">
    <label for="label">
      Intitulé :
      <input class="input-text" type="text" id="label" [formControlName]="'label'" maxlength="50">
    </label>
    <button style= "margin: 10px;" class="button-card" [disabled]="this.associationForm.get('connections').value.length >= 3" (click)="addConnection()">Ajouter connexion</button>
    <div class="answer" formArrayName="connections">
      <div *ngFor="let address of connections.controls; let i=index">
        <div class="answer-form" [formGroupName]="i" style="display:flex;">
            <label style="font-weight: bold; margin-right: 10px;">Connexion {{i + 1}}</label>
            <div style="display:flex; flex-direction: column;">
              <input placeHolder = "Label" class= "input-text" type="text" [formControlName]="'valueToConnect'" maxlength="15">
              <input placeHolder = "Lien d'image" class= "input-text" type="text" [formControlName]="'coverImageToConnect'">
            </div>
            <img style= "padding:5px;" alt="->" width = "30x"  height= "auto" src="/assets/quiz-editor/association-arrow.svg"> 
            <div style="display:flex; flex-direction: column;">
              <input class = "input-text" type="text" [formControlName]="'valueToBeConnected'" maxlength="15">
              <input class= "input-text" type="text" [formControlName]="'coverImageToBeConnected'">
            </div>
        </div>
      </div>
    </div>
    <button *ngIf = "this.isAssociationFormValid()" type="submit" class="button-card" (click)="addAssociation()" routerLink="/edit-quiz/{{this.themeId}}/{{this.quizId}}">Créer</button>
  </form>
</div>