<svg style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);" width="300" height="300">
    <line id="line0" x1="0" y1="0" x2="0" y2="0" stroke="black" stroke-width="10"/>
    <line id="line1" x1="0" y1="0" x2="0" y2="0" stroke="black" stroke-width="10"/>
    <line id="line2" x1="0" y1="0" x2="0" y2="0" stroke="black" stroke-width="10"/>
    <line id="line3" x1="0" y1="0" x2="0" y2="0" stroke="black" stroke-width="10"/>
    <line id="line4" x1="0" y1="0" x2="0" y2="0" stroke="black" stroke-width="10"/>
</svg>