<div class="container">
    <div class="header">
      <img id="back" src="/assets/back.png" alt="back" routerLink="/user-management">
      <div>
        <img id="user-img" alt="user-img" src="{{user.photo}}">
        <h1>{{user.firstName}} {{user.lastName}}</h1>
      </div>
      <div>
        <img id="quiz-img" src="/assets/quiz-img/quiz-{{quiz.id}}.jpg" alt="quiz-img">
        <h4>{{quiz.name}}</h4>
      </div>
    </div>
    <div class="content">
      <div class="info">
        <h2>Nombre de tentatives : {{this.numberTry}}</h2>
        <h2 *ngIf="this.lastGame===0">Dernière partie : Aujourd'hui</h2>
        <h2 *ngIf="this.lastGame===1">Dernière partie: Il y a 1 jour</h2>
        <h2 *ngIf="this.lastGame>1">Dernière partie: Il y a {{this.lastGame}} jours</h2>
        <h2>Progression: <span [ngClass]="{'positive': this.progression > 0, 'negative': this.progression < 0}">{{this.progression}}%</span></h2>
      </div>
      <div class="chart">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [chartType]="barChartType" [options]="barChartOptions"></canvas>
      </div>
    </div>
</div>
  