<div class="container">
    <div class="header">
      <div style="display: flex; flex-direction: column;">
        <img id="back" src="/assets/back.png" alt="back" routerLink="/theme-list/{{user.firstName}}-{{user.lastName}}/stats">
        <h2 style="align-self: center;">Retour</h2>
      </div>
      <div>
        <img id="user-img" alt="user-img" src="{{user.photo}}">
        <h1>{{user.firstName}} {{user.lastName}}</h1>
      </div>
      <div>
        <img id="quiz-img" src={{this.quiz.coverImage}} alt="quiz-img">
        <h4 style="align-self:center; margin-right: 10px;">{{quiz.name}}</h4>
      </div>
    </div>
    <div class="content">
      <div class="info">
        <h2 *ngIf="type==='global'">Nombre de tentatives : {{this.numberTry}}</h2>
        <h2 *ngIf="this.lastGame===0 && type==='global'">Dernière partie : Aujourd'hui</h2>
        <h2 *ngIf="this.lastGame===1 && type==='global'">Dernière partie: Il y a 1 jour</h2>
        <h2 *ngIf="this.lastGame>1 && type==='global'">Dernière partie: Il y a {{this.lastGame}} jours</h2>
        <h2 *ngIf="type==='global'"><span class="underline" (click)="showHelp('progression')">Progression</span>: <span [ngClass]="{'positive': this.progression > 0, 'negative': this.progression < 0}">{{this.progression}}%</span></h2>
        <h2 *ngIf="type==='date'"><span class="underline" (click)="showHelp('error')">Similitude d'erreur</span>: <span [ngClass]="{'positive': errorSimilarity < 50, 'negative': errorSimilarity > 50}">{{errorSimilarity}}%</span></h2>
        <h2 *ngIf="type==='global'"><span class="underline" (click)="showHelp('globalError')">Similitude d'erreur</span>: <span [ngClass]="{'positive': globalErrorSimilarity < 50, 'negative': globalErrorSimilarity > 50}">{{globalErrorSimilarity}}%</span> (<span (click)="showProblematicQuestions()" class="underline">voir questions problématiques</span>)</h2>
        <h2 *ngIf="type==='global'"><span class="underline" (click)="showHelp('time')">Temps moyen par question</span>: {{meanTime}}s (<span [ngClass]="{'positive':timeProgression < 0, 'negative':timeProgression > 0}">{{timeProgression}}s</span>)</h2>
      </div>
      <div class="chart">
        <select (change)="updateChart($event.target.value)" style="border-radius: 5px; padding: 10px;">
          <option value="Global">Global</option>
          <option *ngFor="let date of dates" value="{{date}}">{{date}}</option>
        </select>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [chartType]="barChartType" [options]="barChartOptions"></canvas>
      </div>
    </div>
</div>
  