<div class="top">
    <div>
        <img id="back" style="margin:20px" src="/assets/back.png" alt="back" routerLink="/home-profil-choice">
        <h2>Retour</h2>
    </div>
    <div class="button-div" routerLink="/user-form">
        <img src="/assets/add.png" alt="add">
        <h3 style="margin-top: 45px; margin-left: 20px; margin-right: 5px;">Ajouter un utilisateur dans la liste</h3>
    </div>
    <div class="button-div" routerLink="/theme-editor">
        <img src="/assets/edit.png" alt="edit">
        <h3 style="margin-top: 45px; margin-left: 20px; margin-right: 5px;">Accéder à l'éditeur de Quiz</h3>
    </div>
</div>
<h1 style="text-align: center;">Sélectionner un patient</h1>
<div class="user-list">
    <div *ngFor="let user of userList" class="user">
        <div *ngIf="user.photo!==''">
            <img class="user-img" alt="user-img" src={{user.photo}} routerLink="/user-stats-menu/{{user.id}}">
        </div>
        <div *ngIf="user.photo===''">
            <img class="user-img" alt="user-img" src="/assets/users/user.png" routerLink="/user-stats-menu/{{user.id}}">
        </div>
        <h2>{{user.firstName}} {{user.lastName}}</h2>
    </div>
</div>
