<div class="top">
    <div>
        <img id="back" style="margin:20px" src="/assets/back.png" alt="back" routerLink="/caregiver-home">
        <h2>Retour</h2>
    </div>
    <h1 style="font-size: 48px;">Gérer patients</h1>
    <div class="button-grow"  data-testid="add-button" routerLink="/user-form">
        Ajouter patient
        <img style="width:50px; height:50px; align-self: auto;" src="/assets/add.png" alt="add">
    </div>

</div>
<hr style="border:none;height:2px;background-color: black; width:70%">

<h2 style="margin-top: 50px;text-align: center; align-items: center;">Sélectionner un patient <span style="font-size: 30px; font-weight: normal;">(Trier par :
    <select id="selectable"(change)="updateUserList($event.target.value)" style="border-radius: 5px; padding: 5px; align-self: center; font-size: 25px; font-weight: normal;">
        <option value="lastName">Nom</option>
        <option value="firstName">Prénom</option>
    </select> )</span> </h2>
<div class="user-list" data-testid="user-list">
    <div *ngFor="let user of userList" class="user">
        <div *ngIf="user.photo===''">
            <img class="user-img" alt="user-img" src="/assets/users/user.png" routerLink="/user-stats-menu/{{user.id}}">
        </div>
        <div *ngIf="user.photo!==''">
            <img onerror="this.onerror=null; this.src='/assets/users/user.png'" id="selectable" class="user-img" alt="user-img-{{user.firstName}}-{{user.lastName}}" src={{user.photo}} routerLink="/user-stats-menu/{{user.id}}">
            <img id="selectable" class="trash" src="/assets/trash.png" alt="trash-img-{{user.firstName}}-{{user.lastName}}" (click)="delete(user)">
        </div>
        <h2>{{user.firstName}} {{user.lastName}}</h2>
    </div>
</div>
